@model IEnumerable<ECommerce.ViewModel.CartItemViewModel>

@{
	var total = 0;
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__links">
					<a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home</a>
					<span>Shopping cart</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="shop__cart__table">
					<table id="cartItemList">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in @Model)
							{
								var price = @item.Quantity * @item.Product.Price;
								total += (int)price;
								<tr>
									<td class="cart__product__item">
										<img src="~/Files/Imgs/Product/@item.Product.Image" alt="">
										<div class="cart__product__item__title">
											<h6>@item.Product.Name</h6>
											<div class="rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
										</div>
									</td>

									<td class="cart__price">
										<span>$ </span>
										<span>@item.Product.Price</span>
									</td>
									<td class="cart__quantity">
										<div>
											<span class="btn btn-sm" onclick="decrease(this,@item.Product.Quantity,@item.ProductId)"> <i class="fa fa-xs fa-minus"></i> </span>
											<span id="Quantity" class="h5">@item.Quantity</span>
											<span class="btn btn-sm" onclick="increase(this,@item.Product.Quantity,@item.ProductId)"> <i class="fa fa-xs fa-plus"></i> </span>
										</div>
									</td>

									<td class="cart__total">
										<span>$ </span>
										<span>@price</span>
									</td>
									<td>
										<div class="cart__close" onclick="remove(this,@item.ProductId)">
											<span class="icon_close"></span>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="cart__btn">
					<a asp-action="Index" asp-controller="Shop">Continue Shopping</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="cart__btn update__btn">
					<a  asp-action="RemoveAllFromShoppingCart" asp-controller="ShoppingCart" class="btn-outline-danger">
						<span class="text-dark fa fa-trash"></span>
						remove all
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-4 offset-lg-2">
				<div class="cart__total__procced">
					<h6>Cart total</h6>
					<ul>
						<li>Total <span>$</span><span id="total">@total</span></li>
					</ul>
					<a href="#" class="primary-btn">Proceed to checkout</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Shop Cart Section End -->
@section Scripts {
	<script type="text/javascript">

		function remove(btn, ProductId) {
			var row = btn.parentNode.parentNode;
			console.log(row);
			row.parentNode.removeChild(row);
			$.ajax({
				url: "/ShoppingCart/RemoveFromShoppingCart",
				type: "POST",
				data: { productId: ProductId },
				success: function(res) {
					console.log(res);
				}
			});
		}
		function update(ProductQuantity, ProductId) {
			$.ajax({
				url: "/ShoppingCart/UpdateShoppingCart",
				type: "POST",
				data: {
					productId: ProductId,
					productQuantity: ProductQuantity
				},
				success: function(res) {
					console.log(res);
				}
			});
		}
		function decrease(btn, productQuantity, productId) {
			var row = btn.parentNode.parentNode.parentNode;
			var quantity = Number(row.cells[2].childNodes[1].children[1].innerHTML);
			if (quantity > 1) {
				var price = Number(row.cells[1].childNodes[3].innerHTML);
				quantity--;
				var totalPrice = quantity * price;
				var total = Number(document.getElementById("total").innerHTML);
				total -= price;
				document.getElementById("total").innerHTML = total;
				row.cells[3].childNodes[3].innerHTML = totalPrice;
				row.cells[2].childNodes[1].children[1].innerHTML = quantity;
				update(quantity, Number(productId));
			}

		}
		function increase(btn, productQuantity, productId) {
			var row = btn.parentNode.parentNode.parentNode;
			var quantity = Number(row.cells[2].childNodes[1].children[1].innerHTML);
			if (quantity < productQuantity) {
				var price = Number(row.cells[1].childNodes[3].innerHTML);
				quantity++;
				var totalPrice = quantity * price;
				var total = Number(document.getElementById("total").innerHTML);
				total += price;
				document.getElementById("total").innerHTML = total;
				row.cells[3].childNodes[3].innerHTML = totalPrice;
				row.cells[2].childNodes[1].children[1].innerHTML = quantity;
				update(quantity, Number(productId));
			}
		}
	</script>
}
