@model IEnumerable<ECommerce.ViewModel.CategoryShopViewModel>
@{
	var check = false;
	if (ViewBag.catId != null)
		check = true;
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__links">
					<a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home</a>
					<span>Shop</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Section Begin -->
<section class="shop spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="shop__sidebar">
					<div class="sidebar__categories">
						<div class="section-title">
							<h4>Categories</h4>
						</div>
						<div class="categories__accordion">
							<div class="accordion" id="accordionExample">
								@for (var i = 0; i < @Model.Count(); i++)
								{
									var c = "c" + i.ToString();
									if (check)
									{
										if (ViewBag.catId == @Model.ElementAt(i).Id)
										{
											check = false;
											<div class="card">
												<div class="card-heading active">
													<a data-toggle="collapse" data-target="#collapse_@i">@Model.ElementAt(i).Name</a>
												</div>
												<div id="collapse_@i" class="collapse show" data-parent="#accordionExample">
													<div class="card-body">
														<ul>
															@foreach (var item in @Model.ElementAt(i).Types)
															{
																<li>
																	<a href="#" onclick="GetProductsOfType(@item.CategoryId,@item.Id)">
																		@item.Name
																	</a>
																</li>
															}
														</ul>
													</div>
												</div>
											</div>
											continue;
										}
									}

									<div class="card">
										<div class="card-heading ">
											<a data-toggle="collapse" data-target="#collapse_@i">@Model.ElementAt(i).Name</a>
										</div>
										<div id="collapse_@i" class="collapse" data-parent="#accordionExample">
											<div class="card-body">
												<ul>
													@foreach (var item in @Model.ElementAt(i).Types)
													{
														<li>
															<a href="#" onclick="GetProductsOfType(@item.CategoryId,@item.Id)">
																@item.Name
															</a>
														</li>
													}
												</ul>
											</div>
										</div>
									</div>

								}
							</div>
						</div>
					</div>
					<div class="sidebar__filter">
						<div class="section-title">
							<h4>Shop by price</h4>
						</div>
						<div class="filter-range-wrap">
							<div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
								 data-min="1" data-max="999"></div>
							<div class="range-slider">
								<div class="price-input">
									<p>Price:</p>
									<input type="text" id="minamount">
									<input type="text" id="maxamount">
								</div>
							</div>
						</div>
						<a href="#" onclick="filter()">
							Filter
						</a>
					</div>
					<div class="sidebar__sizes">
						<div class="section-title">
							<h4>Shop by size</h4>
						</div>
						<div class="size__list">
							<label for="XXL">
								XXL
								<input name="sizefilter" value="XXL" type="checkbox" id="XXL">
								<span class="checkmark"></span>
							</label>
							<label for="XL">
								XL
								<input name="sizefilter" value="XL" type="checkbox" id="XL">
								<span class="checkmark"></span>
							</label>
							<label for="L">
								L
								<input name="sizefilter" value="L" type="checkbox" id="L">
								<span class="checkmark"></span>
							</label>
							<label for="M">
								M
								<input name="sizefilter" value="M" type="checkbox" id="M">
								<span class="checkmark"></span>
							</label>
							<label for="S">
								S
								<input name="sizefilter" value="S" type="checkbox" id="S">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<div class="sidebar__color">
						<div class="section-title">
							<h4>Shop by color</h4>
						</div>
						<div class="size__list color__list">
							<label for="black">
								blacks
								<input name="colorfilter" type="checkbox" id="black" value="black">
								<span class="checkmark"></span>
							</label>
							<label for="white">
								whites
								<input name="colorfilter" type="checkbox" id="white" value="white">
								<span class="checkmark"></span>
							</label>
							<label for="red">
								reds
								<input name="colorfilter" type="checkbox" id="red" value="red">
								<span class="checkmark"></span>
							</label>
							<label for="green">
								greens
								<input name="colorfilter" type="checkbox" id="green" value="green">
								<span class="checkmark"></span>
							</label>
							<label for="yellow">
								yellows
								<input name="colorfilter" type="checkbox" id="yellow" value="yellow">
								<span class="checkmark"></span>
							</label>
							<label for="blue">
								blues
								<input name="colorfilter" type="checkbox" id="blue" value="blue">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9" id="content">
				<partial name="ProductsContent" model="ViewBag.products" view-data="ViewData" />
			</div>
		</div>
	</div>
</section>
<!-- Shop Section End -->
@section Scripts {
<script type="text/javascript">
	function GetProductsOfType(CategoryId, TypeId) {
		$.ajax({
			url: "/Shop/GetProductsOfType",
			data: {
				categoryId: CategoryId,
				typeId: TypeId
			},
			success: function(result) {
				$("#content").html(result);
			},
			error: function(error) { console.log(error); }
		});
	}
	function filter() {
		var maxPrice = Number(($("#maxamount").val()).slice(1));
		var minPrice = Number(($("#minamount").val()).slice(1));
		var arrColor = new Array();
		$("input:checkbox[name=colorfilter]:checked").each(function() {
			arrColor.push($(this).val());
		});

		var arrSize = new Array();
		$("input:checkbox[name=sizefilter]:checked").each(function() {
			arrSize.push($(this).val());
		});
		console.log(arrSize);
		console.log(arrColor.length);
		var productList = @Json.Serialize(ViewData["products"]);
		$.post('@Url.Action("GetFilteredProducts","Shop")', {
			products: productList,
			MaxPrice: maxPrice,
			MinPrice: minPrice,
			colors: arrColor,
			sizes: arrSize
		},
			function(result) {
				console.log(result);
				$("#content").html(result);
			});
	}
</script>
}
